asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
cmake==3.31.0.1
Django==6.1
idna==3.19
numpy==1.26.4
opencv-contrib-python==4.9.0.80
pillow==12.3.0
requests==2.32.3
sqlparse==0.6.0
tzdata==2026.3
urllib3==2.7.0
djangorestframework
django-cors-headers
mysqlclient
